<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%=title%> </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <hr>
    <h1 style="text-align: center;"><%=description%></h1>
    <hr>
    </div>
    <div id="alarmas"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <button style="margin: 10px;" class="btn btn-outline-info" id="historial">Consultar Historial</button>
                <button style="margin: 10px;" class="btn btn-outline-info" id="inventario">Inventario de
                    Equipos</button>
                <button style="margin: 10px;" class="btn btn-outline-info" id="hosts">Informacion de Hosts</button>
                <button onclick="location.href='/offall'" style="margin: 10px;" class="btn btn-outline-danger"
                    id="offAll">Apagar Equipos</button>
                <script>
                    $('#historial').click(function () {
                        fetch('/historial', { method: 'GET' })
                        file = '/downloadHistorial/'
                        salto = ''
                        showLink(file, salto)
                    })
                    $('#inventario').click(function () {
                        fetch('/Inventario/', { method: 'GET' })
                        file = '/downloadInventario/'
                        salto = '<br/> <br/> <br/>'
                        showLink(file, salto)
                    })
                    $('#hosts').click(function () {
                        fetch('/hosts/', { method: 'GET' })
                        file = '/downloadHWHosts/'
                        salto = '<br/> <br/> <br/> <br/> <br/>'
                        showLink(file, salto)
                    })
                    function showLink(file, html) {
                        const link = document.querySelector('#btn-down')
                        //let html='';
                        html += '<button onclick="download(file)" class="btn btn-success">Download</button>'
                        link.innerHTML = html;
                    }
                    function download(file) {
                        window.open(file)
                        location.assign('/')
                    }
                </script>
            </div>
            <div id="btn-down"></div>
            <div class="col-lg-4">
                <legend style="text-align: center;">Estaciones de Trabajo</legend>
                <table class="table table-bordered">
                    <thead style="text-align: center;">
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>IP Address</th>
                            <th>Hostname</th>
                            <th>Start Time</th>
                            <th>Internet</th>
                            <th>Shutdown</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;">
                        <% for (var i = 0; i < workstations.length; i++) {%>
                        <tr>
                            <td>
                                <strong style="cursor: pointer;">
                                    <%= workstations[i].name %>
                                </strong>
                            </td>
                            <td>
                                <%= workstations[i].status %>
                            </td>
                            <td>
                                <%= workstations[i].ip %>
                            </td>
                            <td>
                                <%= workstations[i].hostname %>
                            </td>
                            <td>
                                <%= workstations[i].start_time %>
                            </td>
                            <td>
                                <%= workstations[i].internet %>
                            </td>
                            <td>
                                <%if(workstations[i].name!="PC-Master"){%>
                                <a href="/shutdown/<%=workstations[i]._id%>">
                                    <span class="fa fa-power-off" aria-hidden="true"></span>
                                </a>
                                <% }%>
                            </td>
                        </tr>
                        <% }%>

                    </tbody>
                </table>
            </div>

            <script>
                async function get_Alarmas() {
                    fetch('/alarmas/', { method: 'GET' }).then(function (response) {
                        return response.text()
                    }).then(function (body) {
                        document.getElementById('alarmas').innerHTML = body
                    })
                }
                setInterval(get_Alarmas, 1000);
            </script>


            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
</body>

</html>